.days {
    height: 140px;
    position: relative;
    border: 1px solid #ececec;
    margin-left: -1px;
    margin-top: -1px;
    padding-top: 40px;
    cursor: pointer;
    transition:  800ms;
    opacity: .6;
    padding-right: 7px;
    padding-left: 7px;
}

.days:hover {
    background: #fafafa;
    opacity: 1;
}
.days:active {
    background: #1dc5ff;
}

.days .dayNumber {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 13px;
    font-weight: 500;
    width: 100px;
    color: #525252;
    text-align: right;
}

.days .dayNumber span {
    font-size: 13px;
    font-weight: 200;
}

.days h4 {
    font-weight: 300;
    font-size: 12px;
    margin: 5px 0;
}
.days h5 {
    font-weight: 400;
    font-size: 11px;
    margin: 5px 0;
}

.days .notAssignedLabel {
    color: #828282;
    font-size: 13px;
    font-weight: 300;
    margin-top: 10px;
}

.days .dayControls {
    position: absolute;
    left: 10px;
    top: 17px;
}

.days.current {
    border-right: none;
    background-color: #f7f7f7;
    opacity: 1;
}


.work-area {
    min-height: 1000px;
    margin-top: 20px;
}

.days:hover .indicator-primary {
    animation: primary-background-change 1s infinite;
}
.days:hover .indicator-success {
    animation: success-background-change 1s infinite;
}
.days:hover .indicator-warning {
    animation: warning-background-change 1s infinite;
}
.days:hover .indicator-info {
    animation: info-background-change 1s infinite;
}
.days:hover .indicator-danger {
    animation: danger-background-change 1s infinite;
}