<div id="app">
    <ng2-slim-loading-bar></ng2-slim-loading-bar>
    <cg-header></cg-header>

    <div class="container animated fadeIn">
        <div class="page-header animated fadeIn animation-delay-3">
            <h1>Speakers</h1>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="full-page-loading" *ngIf="!speakers">
                    <h1 class="loading">Loading...</h1>
                </div>

                <div class="table-responsive" *ngIf="speakers">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>Congregation</th>
                            <th>Nearest discourse</th>
                        </tr>
                        </thead>

                        <tr *ngFor="let speaker of speakers; let isEven = even; let $index = index;">
                            <td>{{$index+1}}</td>
                            <td>
                                {{speaker.speaker.firstname}} {{speaker.speaker.lastname}}
                                <div class="additional">
                                    Available <strong>{{speaker.speaker.speeches.length}}</strong> speech{{speaker.speaker.speeches.length>1?'es':''}}
                                </div>
                            </td>
                            <td>
                                {{speaker.speaker.phone}}
                                <div class="additional">
                                    <span [style.color]="speaker.speaker.status.color">{{speaker.speaker.status.name}}</span>
                                </div>
                            </td>
                            <td>
                                {{speaker.speaker.congregation.name}}
                            </td>
                            <td *ngIf="speaker.nearestDiscourse">
                                {{speaker.nearestDiscourse.time | fromNow}}
                                <div class="additional">
                                    {{speaker.nearestDiscourse.assignment.speech.name}} {{speaker.nearestDiscourse.time | date}}
                                </div>
                            </td>
                            <td *ngIf="!speaker.nearestDiscourse">Not available</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <cg-footer></cg-footer>
</div>