<div id="app">
    <ng2-slim-loading-bar></ng2-slim-loading-bar>
    <cg-header></cg-header>

    <div class="container animated fadeIn">
        <div class="page-header animated fadeIn animation-delay-3">
            <h1>Speeches</h1>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="full-page-loading" *ngIf="!speeches">
                    <h1 class="loading">Loading...</h1>
                </div>

                <div class="table-responsive" *ngIf="speeches">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Nearest discourse</th>
                            </tr>
                        </thead>

                        <tr
                            *ngFor="let speech of speeches| paginate: { itemsPerPage: itemsPerPage, currentPage: p };
                            let isEven = even;
                            let $index = index;"
                        >
                            <td>{{$index+1}}</td>
                            <td>№ {{speech.speech.code}}-U</td>
                            <td>
                                {{speech.speech.name}}
                                <div class="additional">
                                    Created at: {{speech.speech.created_at}} <br>
                                    Updated at: {{speech.speech.updated_at}}
                                </div>
                            </td>
                            <td *ngIf="speech.nearestDiscourse">
                                {{speech.nearestDiscourse.time | fromNow}}
                                <div class="additional">
                                    {{speech.nearestDiscourse.assignment.speaker.firstname}} {{speech.nearestDiscourse.assignment.speaker.lastname}} {{speech.nearestDiscourse.time | date}}
                                </div>
                            </td>
                            <td *ngIf="!speech.nearestDiscourse">Not available</td>
                        </tr>
                    </table>
                </div>

                <div *ngIf="speeches">
                    <pagination-controls (pageChange)="p = $event" class="adminPagination"></pagination-controls>
                    <select class="form-control itemsPerPage" [(ngModel)]="itemsPerPage">
                        <option *ngFor="let page of pages">{{page}}</option>
                    </select>
                </div>

            </div>
        </div>
    </div>

    <cg-footer></cg-footer>
</div>