<div id="app">
    <cg-header></cg-header>

    <div class="container discourse animated fadeIn">
        <div class="row">
            <div class="col-md-2 days" [routerLink]="['/discourses']">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center">
                            Back to {{discourse?.getTime() | date:'YYYY'}}
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-2 {{!discourse.assignment?'notAssigned':''}} days" *ngFor="let discourse of prevTwo;" [routerLink]="['/discourses', discourse.id]">
                <div class="dayNumber">
                    <span class="indicator indicator-{{discourse.assignment.status.color}}" *ngIf="discourse.assignment"></span> <span>{{discourse.time|date:'MMMM'}}</span> {{discourse.timeDetails.day}}
                </div>

                <div class="row">
                    <div class="col-md-12" *ngIf="discourse.assignment">
                        <h4>
                            {{discourse.assignment?.speaker.firstname}}
                            {{discourse.assignment?.speaker.lastname}}
                        </h4>
                        <h5>
                            {{discourse.assignment?.speech.name}}
                        </h5>
                    </div>
                    <div class="col-md-12" *ngIf="!discourse.assignment">
                        <h1 class="notAssignedLabel">You can assign a speaker, whatever you want</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-2 {{!discourse?.getAssignment()?'notAssigned':''}} days current" [routerLink]="['/discourses', discourse?.getId()]">
                <div class="dayNumber">
                    <span class="indicator indicator-{{discourse?.getAssignment().status.color}}" *ngIf="discourse?.getAssignment()"></span> <span>{{discourse?.data.time|date:'MMMM'}}</span> {{discourse?.data.timeDetails.day}}
                </div>

                <div class="row">
                    <div class="col-md-12" *ngIf="discourse?.getAssignment()">
                        <h4>
                            {{discourse?.getAssignment().speaker.firstname}}
                            {{discourse?.getAssignment().speaker.lastname}}
                        </h4>
                        <h5>
                            {{discourse?.getAssignment().speech.name}}
                        </h5>
                    </div>
                    <div class="col-md-12" *ngIf="!discourse?.getAssignment()">
                        <h1 class="notAssignedLabel">You can assign a speaker, whatever you want</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-2 {{!discourse.assignment?'notAssigned':''}} days" *ngFor="let discourse of nextTwo;" [routerLink]="['/discourses', discourse.id]">
                <div class="dayNumber">
                    <span class="indicator indicator-{{discourse.assignment.status.color}}" *ngIf="discourse.assignment"></span> <span>{{discourse.time|date:'MMMM'}}</span> {{discourse.timeDetails.day}}
                </div>

                <div class="row">
                    <div class="col-md-12" *ngIf="discourse.assignment">
                        <h4>
                            {{discourse.assignment?.speaker.firstname}}
                            {{discourse.assignment?.speaker.lastname}}
                        </h4>
                        <h5>
                            {{discourse.assignment?.speech.name}}
                        </h5>
                    </div>
                    <div class="col-md-12" *ngIf="!discourse.assignment">
                        <h1 class="notAssignedLabel">You can assign a speaker, whatever you want</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-7 col-sm-9 col-xs-12 text-left">
                        <h1 class="pageHeading">
                            {{discourse?.getTime() | date:'MMMM'}} <strong>{{discourse?.getTime() | date:'Do'}}</strong> {{discourse?.getTime() | date:'YYYY'}} at {{discourse?.getTime() | date:'HH:mm'}}
                            <div class="visible-xs-inline-block mobile-buttons animated fadeInDown animation-delay-10">
                                <a (click)="back()" class="btn btn-default text-left">
                                    <i class="glyphicon glyphicon-menu-left"></i> Back
                                </a>
                            </div>
                        </h1>
                    </div>
                    <div class="col-md-5 col-sm-3 hidden-xs text-right">
                        <div class="animated fadeIn animation-delay-10">
                            <a (click)="back()" class="btn btn-default text-left">
                                <i class="glyphicon glyphicon-menu-left"></i> <span class="hidden-xs hidden-sm">Back</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7 col-sm-7">
                <div class="speakers" *ngIf="!speakerSelected">
                    <div class="speaker-search">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <input #searchSpeakers type="text" class="form-control speaker-search-input" (click)="setSearch()" [(ngModel)]="speakerName" placeholder="Search by speakers's name" (ngModelChange)="reloadSpeakers()">
                                <button class="btn btn-primary" (click)="setCurrentList('favorites')">Favorites</button>
                                <button class="btn btn-success" (click)="setCurrentList('debtors')">Debtors</button>
                            </div>
                        </div>
                    </div>
                    <div class="found" *ngIf="isCurrentList('search')">
                        <div class="row speaker-search-results speaker" *ngFor="let speaker of speakers" (click)="setSpeakerSelected(speaker)">
                            <div class="col-md-8 col-xs-8">
                                {{speaker.speaker.firstname}} {{speaker.speaker.lastname}}
                                <div class="additional">
                                    <span [style.color]="speaker.speaker.status.color">{{speaker.speaker.status.name}}</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4" *ngIf="speaker.nearestDiscourse">
                                {{speaker.nearestDiscourse.time | fromNow:discourse?.getTime()}}
                                <div class="additional">
                                    {{speaker.nearestDiscourse.time | date}}
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4" *ngIf="!speaker.nearestDiscourse">
                                Not available
                            </div>
                        </div>
                    </div>
                    <div class="list" *ngIf="isCurrentList('favorites')">
                        <div class="row speaker-search-results speaker" *ngFor="let speaker of favorites" (click)="setSpeakerSelected(speaker)">
                            <div class="col-md-8 col-xs-8">
                                {{speaker.speaker.firstname}} {{speaker.speaker.lastname}}
                                <div class="additional">
                                    <span [style.color]="speaker.speaker.status.color">{{speaker.speaker.status.name}}</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4" *ngIf="speaker.nearestDiscourse">
                                {{speaker.nearestDiscourse.time | fromNow:discourse?.getTime()}}
                                <div class="additional">
                                    {{speaker.nearestDiscourse.time | date}}
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4" *ngIf="!speaker.nearestDiscourse">
                                Not available
                            </div>
                        </div>
                    </div>
                    <div class="list" *ngIf="isCurrentList('debtors')">
                        <div class="row speaker-search-results speaker" *ngFor="let speaker of debtors" (click)="setSpeakerSelected(speaker)">
                            <div class="col-md-8 col-xs-8">
                                {{speaker.speaker.firstname}} {{speaker.speaker.lastname}}
                                <div class="additional">
                                    <span [style.color]="speaker.speaker.status.color">{{speaker.speaker.status.name}}</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4" *ngIf="speaker.nearestDiscourse">
                                {{speaker.nearestDiscourse.time | fromNow:discourse?.getTime()}}
                                <div class="additional">
                                    {{speaker.nearestDiscourse.time | date}}
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4" *ngIf="!speaker.nearestDiscourse">
                                Not available
                            </div>
                        </div>
                    </div>
                </div>
                <div class="speeches" *ngIf="speakerSelected && !speechSelected">
                    <div class="speaker-search">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <button class="btn btn-default" (click)="returnToSpeakers()">Return</button>
                                <div class="speaker-search-input speaker-selected">
                                    {{speakerSelected.speaker.firstname}} {{speakerSelected.speaker.lastname}}, <small>{{speakerSelected.speaker.phone}}, {{speakerSelected.speaker.congregation.name}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="alert alert-default" *ngIf="!speakerSelected.speeches">
                            No speeches
                        </div>
                        <div class="row speaker-search-results speaker">
                            <div class="col-md-12">
                                <input type="text" #speechInput class="form-control" [(ngModel)]="searchSpeech" (ngModelChange)="searchSpeechRun()" placeholder="Search speech">
                            </div>
                        </div>
                        <div class="row speaker-search-results speaker" *ngFor="let speech of speechesFound" (click)="setSpeechSelected(speech)">
                            <div class="col-md-8">
                                <span class="speech-new"></span>
                                <h4><small>{{speech.speech.code}}</small> {{speech.speech.name}}</h4>
                            </div>
                            <div class="col-md-4 col-xs-4" *ngIf="speech.nearestDiscourse">
                                {{speech.nearestDiscourse.time | fromNow:discourse?.getTime()}}
                                <div class="additional">
                                    {{speech.nearestDiscourse.assignment.speaker.firstname}} {{speech.nearestDiscourse.assignment.speaker.lastname}}, {{speech.nearestDiscourse.time | date}}
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4" *ngIf="!speech.nearestDiscourse">
                                Not available
                            </div>
                        </div>
                        <div class="row speaker-search-results speaker" *ngFor="let speech of speakerSelected.speeches" (click)="setSpeechSelected(speech)">
                            <div class="col-md-8">
                                <h4><small>{{speech.speech.code}}</small> {{speech.speech.name}}</h4>
                            </div>
                            <div class="col-md-4 col-xs-4" *ngIf="speech.nearestDiscourse">
                                {{speech.nearestDiscourse.time | fromNow:discourse?.getTime()}}
                                <div class="additional">
                                    {{speech.nearestDiscourse.assignment.speaker.firstname}} {{speech.nearestDiscourse.assignment.speaker.lastname}}, {{speech.nearestDiscourse.time | date}}
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4" *ngIf="!speech.nearestDiscourse">
                                Not available
                            </div>
                        </div>
                    </div>
                </div>
                <div class="summary" *ngIf="speakerSelected && speechSelected">
                    <div class="speaker-search">
                        <div class="row">
                            <div class="col-md-9 col-xs-9">
                                <button class="btn btn-default" (click)="cancelAssignment()">Return</button>
                                <button class="btn btn-success" (click)="createAssignment()">
                                    <i class="glyphicon glyphicon-ok-circle"></i> <span>Assign</span>
                                </button>
                            </div>
                            <div class="col-md-3 col-xs-3 speaker-last-discourse">

                            </div>
                        </div>
                    </div>
                    <div class="row speech">
                        <div class="col-md-12">
                            <h2><small>{{speechSelected.speech.code}}</small> {{speechSelected.speech.name}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h2>{{speakerSelected.speaker.firstname}} {{speakerSelected.speaker.lastname}}, <small>{{speakerSelected.speaker.phone}}, {{speakerSelected.speaker.congregation.name}}</small></h2>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-5 col-sm-5" *ngIf="discourse">
                <cg-discourse-history [discourse]="discourse"></cg-discourse-history>
            </div>
        </div>

    </div>

    <cg-footer></cg-footer>
</div>