<div id="app">
    <cg-header></cg-header>

    <div class="container animated fadeIn">
        <div class="row">
            <div class="col-md-2 days" [routerLink]="['/discourses']">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center">
                            Back to {{discourse?.getTime() | date:'YYYY'}}
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-2 {{!discourse.assignment?'notAssigned':''}} days" *ngFor="let discourse of prevTwo;" [routerLink]="['/discourses', discourse.id]">
                <div class="dayNumber">
                    <span class="indicator indicator-danger indicator-danger-animated" *ngIf="!discourse.assignment"></span>
                    <span class="indicator indicator-{{discourse.assignment.status.color}}" *ngIf="discourse.assignment"></span> <span>{{discourse.time|date:'MMMM'}}</span> {{discourse.timeDetails.day}}
                </div>

                <div class="row">
                    <div class="col-md-12" *ngIf="discourse.assignment">
                        <h4>
                            {{discourse.assignment?.speaker.firstname}}
                            {{discourse.assignment?.speaker.lastname}}
                        </h4>
                        <h5>
                            {{discourse.assignment?.speech.name}}
                        </h5>
                    </div>
                    <div class="col-md-12" *ngIf="!discourse.assignment">
                        <h1 class="notAssignedLabel">You can assign a speaker, whatever you want</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-2 {{!discourse?.getAssignment()?'notAssigned':''}} days current" [routerLink]="['/discourses', discourse?.getId()]">
                <div class="dayNumber">
                    <span class="indicator indicator-danger indicator-danger-animated" *ngIf="!discourse?.getAssignment()"></span>
                    <span class="indicator indicator-{{discourse?.getAssignment().status.color}}" *ngIf="discourse?.getAssignment()"></span> <span>{{discourse?.data.time|date:'MMMM'}}</span> {{discourse?.data.timeDetails.day}}
                </div>

                <div class="row">
                    <div class="col-md-12" *ngIf="discourse?.getAssignment()">
                        <h4>
                            {{discourse?.getAssignment().speaker.firstname}}
                            {{discourse?.getAssignment().speaker.lastname}}
                        </h4>
                        <h5>
                            {{discourse?.getAssignment().speech.name}}
                        </h5>
                    </div>
                    <div class="col-md-12" *ngIf="!discourse?.getAssignment()">
                        <h1 class="notAssignedLabel">You can assign a speaker, whatever you want</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-2 {{!discourse.assignment?'notAssigned':''}} days" *ngFor="let discourse of nextTwo;" [routerLink]="['/discourses', discourse.id]">
                <div class="dayNumber">
                    <span class="indicator indicator-danger indicator-danger-animated" *ngIf="!discourse.assignment"></span>
                    <span class="indicator indicator-{{discourse.assignment.status.color}}" *ngIf="discourse.assignment"></span> <span>{{discourse.time|date:'MMMM'}}</span> {{discourse.timeDetails.day}}
                </div>

                <div class="row">
                    <div class="col-md-12" *ngIf="discourse.assignment">
                        <h4>
                            {{discourse.assignment?.speaker.firstname}}
                            {{discourse.assignment?.speaker.lastname}}
                        </h4>
                        <h5>
                            {{discourse.assignment?.speech.name}}
                        </h5>
                    </div>
                    <div class="col-md-12" *ngIf="!discourse.assignment">
                        <h1 class="notAssignedLabel">You can assign a speaker, whatever you want</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                            <h1 class="pageHeading">
                                {{discourse?.getTime() | date:'MMMM'}} <strong>{{discourse?.getTime() | date:'Do'}}</strong> {{discourse?.getTime() | date:'YYYY'}} at {{discourse?.getTime() | date:'HH:mm'}}
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="discourseContainer" *ngIf="discourse?.isAssigned()">
                    <div class="row speech">
                        <div class="col-md-12">
                            <h2>{{discourse?.getSpeech().name}} <small>{{discourse?.getSpeech().code}}</small></h2>
                        </div>
                    </div>
                    <div class="row speaker">
                        <div class="col-md-12">
                            <h2>{{discourse?.getSpeaker().firstname}} {{discourse?.getSpeaker().lastname}}, <small>{{discourse?.getSpeaker().phone}}, {{discourse?.getSpeaker().congregation.name}}</small></h2>
                        </div>
                    </div>
                    <div class="row controls">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <nav class="navbar navbar-default">
                                <div class="container-fluid">
                                    <p class="navbar-text status-{{discourse?.getAssignment().status.color}}">{{discourse?.getAssignment().status.name}}</p>
                                    <p class="navbar-text"> {{discourse?.getAssignment().updated_at| smartdate}} </p>

                                    <div class="animated pull-right fadeIn animation-delay-10 control-buttons">
                                        <a (click)="discourse?.cancel()" *ngIf="discourse?.isAssigned() && !discourse?.isCompleted()" class="btn btn-danger">
                                            <i class="glyphicon glyphicon-remove"></i> <span>Cancel</span>
                                        </a>
                                        <a class="btn btn-primary" (click)="discourse?.confirm()" *ngIf="!discourse?.isConfirmed() && discourse?.isPreset()">
                                            <i class="glyphicon glyphicon-ok-circle"></i> <span>Confirm</span>
                                        </a>
                                        <a class="btn btn-success" (click)="discourse?.complete()" *ngIf="discourse?.isConfirmed() && !discourse?.isCompleted()">
                                            <i class="glyphicon glyphicon-thumbs-up"></i> <span>Complete</span>
                                        </a>
                                    </div>
                                </div><!-- /.container-fluid -->
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="discourseContainer" *ngIf="!discourse?.isAssigned()">
                    <div class="row" (click)="assign()">
                        <div class="col-md-12">
                            <div class="assign-from-content">
                                <h2 class="text-center">Not assigned</h2>
                                <p class="text-info text-center">
                                    Please click to choose a speaker with speech.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" *ngIf="discourse">
                        <cg-discourse-commentary [discourse]="discourse"></cg-discourse-commentary>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" *ngIf="discourse">
                <cg-discourse-history [discourse]="discourse"></cg-discourse-history>
            </div>
        </div>
    </div>

    <cg-footer></cg-footer>
</div>